body {
            font-family: Arial, sans-serif;
            margin: 30px;
            background-color: rgb(255, 237, 214);

        }
header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* clickable label (logo link) */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;  /* remove underline */
  transition: color 0.3s;
}

.logo:hover {
  color: #ffcc00;  /* change color when hovered */
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
  margin-right: none;
}
.btn-na{
    margin-right: 50px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}   

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #11010196;
    color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 36px;           
    color: #ffffff;            
    background-color: #f5c8f7; 
    padding: 20px;            
    border-radius: 10px;      
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    letter-spacing: 2px;       
    text-transform: uppercase;
    margin-bottom: 30px;
}
.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 80vh;            
}

.Form-input {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Searchbar{
    display: block;      
    margin: 0 auto;      
    width: 300px;
    padding: 10px;     
    font-size: 16px;
}
.loginbtn{
    background-color: rgb(184, 106, 106);
    border-radius: 20px;
    height: 40px;
    width: 100px;
    padding: 25px;
    margin-left: 660px;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}
.loginpeyj{
    display: fill;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: inherit;
    margin-left: 625px;
}
.btnsave{
    align-items: center;
    justify-content: center;

}
.btn-nav{
    margin-left: 100px;
}
.AdminTitle{
    text-align: center;
}